<h1>New Client</h1>
<form action="/clients" method="post">
  <input type="text"  name="name" placeholder= "Client Name" >
  <br>
  <input type="text" name="age" placeholder= "Age">
  <br>
  <input type="submit" value="submit" >
</form>
