<h1>Login to Client Tracker</h1>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Username">
  <br>
  <input type="password" name="password" placeholder="Password">
  <br>
  <input type="submit" id="submit" value="Log In">
</form>
